@CHARSET "UTF-8";

@CHARSET "UTF-8";


body{
    background-image: url("../images/bg5.jpg");
    background-attachment: fixed;
}

a{
	text-decoration: none;
}

.content{
	margin:10px auto;
	max-width:64em;
	background:rgba(128, 128, 128, 0.19);
	padding:.5em;
}

/**
*	头部
**/
.head{
	max-width:64em;
	height:6em;
	background-color: rgba(145, 137, 206, 0.58);
}

.head .photo{
	float:left;
	max-width:5.4em;
	border:.4em #3AD3DA solid;
	border-radius:.5em;
}

.head .uname{
	display:block;
	float:left;
	font-size:2.5em;
	margin-left:.3em;
	font-family:'华文行楷';
	color:pink;
}

.head .mypost{
	display:block;
	float:left;
	font-size:4em;
	margin:.4em auto;
	margin-left:2.5em;
	font-family:'华文行楷';
	color:pink;
	
}

.head .home{
	float:right;
}

.head .home #homeImg{
	max-width:2.2em;
	vertical-align: middle;
	margin-right:1em;
}
.head .back{
	float:right;
}

.head .back #backImg{
	max-width:2em;
	vertical-align: middle;
	margin-right:1em;
}



/**
*	主体内容
**/
.main{
	clear:both;
	padding:.5em;
	background:rgba(107, 103, 103, 0.19);
}

.main #Popular{
	font-size:1.2em;
	font-family:'微软雅黑';
	border-left:3px blue solid;
	padding-left:8px;
}

.main .bar{
	clear:both;
	padding:1em;
	margin:1em;
}

.main .bar .barImg{
	float:left;
}

.main .bar .barImg #img{
	max-width:3em;
	display:block;
	vertical-align: middle;
}

.main .bar .barname{
	float:left;
	font-size:2em;
	margin:.5em;
	font-family:'华文行楷';
}

.main .bar .barbreif{
	float:left;
	font-size:2.2em;
	margin:.5em;
	font-family:'华文行楷';
}

.main .clearfloat{
	clear:both;
}










